:local .WeatherHourly {
  width: 100%;
}

:local .WeatherHourly text {
  fill: rgba(255, 255, 255, 0.7);
}

:local .WeatherHourly rect {
  stroke: none;
  fill: rgba(255, 255, 255, 0.5);
}

:local .WeatherHourly line {
  fill: none;
  stroke: rgba(255, 255, 255, 0.5);
  stroke-width: 2;
}

:local .legend {
}

:local .legend line {
  stroke: rgba(255, 255, 255, 0.3);
}

:local .precipitation {
}

:local .precipitation rect {
  fill: rgba(255, 255, 255, 0.2);
}

:local .temps {
}

:local .small {
  font-size: 0.6em;
}

:local .timeMarker {
  stroke: rgba(255, 255, 255, 1);
}
