:local .DateTime {
  text-align: center;
}

:local .date {
  font-size: 4.8rem;
  opacity: 0.5;
  line-height: 1em;
  letter-spacing: 0.06em;
  margin: 2.0rem 0 0;
}

:local .time {
  font-size: 18.2rem;
  margin: 3rem 0 0;
  letter-spacing: 0.04em;
}

:local .hide {
  visibility: hidden;
}

:local .seperator {
  vertical-align: middle;
  margin: -0.15em 0 0 -0.05em;
  display: inline-block;
}

:local .period {
  font-size: 0.4em;
}
