@import url('./css/normalize.css');
@import url('./css/weather-icons.min.css');

@font-face {
  font-family: 'fira_sanslight';
  src: url('./font/firasans-light-webfont.eot');
  src: url('./font/firasans-light-webfont.eot?#iefix') format('embedded-opentype'),
       url('./font/firasans-light-webfont.woff2') format('woff2'),
       url('./font/firasans-light-webfont.woff') format('woff'),
       url('./font/firasans-light-webfont.ttf') format('truetype'),
       url('./font/firasans-light-webfont.svg#fira_sanslight') format('svg');
  font-weight: normal;
  font-style: normal;

}

body, html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  color: #f1faee;
  font-family: 'fira_sanslight', sans-serif;
  font-weight: 300;
}

#root {
  height: 100%;
}
