@import url('./css/normalize.css');
@import url('./css/weather-icons.min.css');

@font-face {
  font-family: 'FiraSansLight';
  font-weight: normal;
  font-style: normal;
  src: url('./font/firasans-light-webfont.eot');
  src: url('./font/firasans-light-webfont.eot?#iefix') format('embedded-opentype'),
       url('./font/firasans-light-webfont.woff2') format('woff2'),
       url('./font/firasans-light-webfont.woff') format('woff'),
       url('./font/firasans-light-webfont.ttf') format('truetype'),
       url('./font/firasans-light-webfont.svg#FiraSansLight') format('svg');
}

@font-face {
  font-family: 'MaterialIcons';
  font-style: normal;
  font-weight: 400;
  src: url('./font/MaterialIcons-Regular.eot');
  src: url('./font/MaterialIcons-Regular.eot?#iefix') format('embedded-opentype'),
       url('./font/MaterialIcons-Regular.woff2') format('woff2'),
       url('./font/MaterialIcons-Regular.woff') format('woff'),
       url('./font/MaterialIcons-Regular.ttf') format('truetype'),
       url('./font/MaterialIcons-Regular.svg#MaterialIcons') format('svg');
}

html, body {
  height: 100%;
  font-size: 10px;
}

body {
  font-size: 120%;
  margin: 0;
  padding: 0;
  color: #f1faee;
  font-family: 'FiraSansLight', sans-serif;
  font-weight: 300;
  font-size: 1.5em;
  -webkit-font-smoothing: antialiased;
}

@media (min-width: 48em) {
  body { font-size: 1.6em; }
}

#root {
  width: 100%;
  height: 100%;
}

.material-icons {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  direction: ltr;
  display: inline-block;
  font-family: 'MaterialIcons';
  font-feature-settings: 'liga';
  font-size: 1em;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  margin-top: -0.15em;
  text-rendering: optimizeLegibility;
  text-transform: none;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: normal;
}
