.WeatherChart {
  padding: 0 90px;
}

.WeatherChart svg {
  width: 100%;
}

.WeatherChart text {
  fill: rgba(255, 255, 255, 0.5);
  font-size: 32px;
}

.WeatherChart text .small {
  font-size: 0.6em;
}

.WeatherChart rect {
  stroke: none;
  fill: rgba(255, 255, 255, 0.5);
}

.WeatherChart line {
  fill: none;
  stroke: rgba(255, 255, 255, 0.5);
  stroke-width: 2;
}

.WeatherChart .legend line {
  stroke: rgba(255, 255, 255, 0.3);
}

.WeatherChart .legend text {
  fill: rgba(255, 255, 255, 0.3);
}

.WeatherChart .legend #time-marker {
  stroke: rgba(255, 255, 255, 1);
}

.WeatherChart .precipitation rect {
  fill: rgba(255, 255, 255, 0.2);
}
