.WeatherForecast {
  padding: 0 90px;
}

.WeatherForecast svg {
  width: 100%;
}

.WeatherForecast text {
  fill: rgba(255, 255, 255, 0.5);
  font-size: 32px;
}

.WeatherForecast text .small {
  font-size: 0.6em;
}

.WeatherForecast rect {
  stroke: none;
  fill: rgba(255, 255, 255, 0.5);
}

.WeatherForecast line {
  fill: none;
  stroke: rgba(255, 255, 255, 0.5);
  stroke-width: 2;
}

.WeatherForecast .legend line {
  stroke: rgba(255, 255, 255, 0.3);
}

.WeatherForecast .legend text {
  fill: rgba(255, 255, 255, 0.3);
}

.WeatherForecast .legend #time-marker {
  stroke: rgba(255, 255, 255, 1);
}

.WeatherForecast .precipitation rect {
  fill: rgba(255, 255, 255, 0.2);
}
