:local .WeatherForecast {
  padding: 0 90px;
}

:local .WeatherForecast svg {
  width: 100%;
}

:local .svg text {
  fill: rgba(255, 255, 255, 0.5);
  font-size: 32px;
}

:local .svg rect {
  stroke: none;
  fill: rgba(255, 255, 255, 0.5);
}

:local .svg line {
  fill: none;
  stroke: rgba(255, 255, 255, 0.5);
  stroke-width: 2;
}

:local .legend {
}

:local .legend line {
  stroke: rgba(255, 255, 255, 0.3);
}

:local .legend text {
  fill: rgba(255, 255, 255, 0.3);
}

:local .precipitation {
}

:local .precipitation rect {
  fill: rgba(255, 255, 255, 0.2);
}

:local .temps {
}

:local .small {
  font-size: 0.6em;
}

:local .timeMarker {
  stroke: rgba(255, 255, 255, 1);
}
